.services {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.services h1{
   font-size: 3rem;
   
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   padding-top: 2rem;
   color: #00083d;
   font-weight: 600;
   text-shadow:  2px 7px 5px rgba(0,0,0,0.3), 
   0px -4px 10px rgba(255,255,255,0.3);;
}
.services h1 .spannn{
    color: #00aeef;
    margin-left: .5rem;
}

@media (max-width:1063px){
    .services {
        
        
        gap: 20rem;
        
    }
}
@media (max-width:702px){
    .services {
        
        
        gap: 18rem;
        
    }
}
