.abt {
    /* background: rgb(190, 222, 246);
    background: linear-gradient(90deg, rgba(190, 222, 246, 1) 38%, rgba(27, 20, 100, 1) 79%); */

    width: 100%;
    height: 90vh;


    position: relative;

    background: linear-gradient(90deg, hsla(179, 67%, 66%, 1) 0%, hsla(238, 74%, 61%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(179, 67%, 66%, 1) 0%, hsla(238, 74%, 61%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(179, 67%, 66%, 1) 0%, hsla(238, 74%, 61%, 1) 100%);



}

.abt .subabt {
    position: absolute;
    display: flex;
    gap: rem;
    flex-direction: column;




}

.heading1 {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 4rem;
    padding-left: 4rem;



}

.heading1 h1 {
    font-size: 4rem;
    color: #00aeef;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    ;
}

.heading1 h3 {
    font-size: 2rem;
    color: black;
    font-weight: 500;
}




.heading2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    padding-right: 4rem;


}

.heading2 h1 {
    font-size: 4rem;
    color: #00083d;
    float: right;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    ;
}

.heading2 h3 {
    font-size: 2rem;
    color: black;
    float: right;
    font-weight: 500;

}


.design {
    width: 20%;
    margin: 2rem 2rem;
    border-left: 10px solid #00083d;
    border-radius: 1rem;
    color: #00083d;



}

.design h1 {
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 600;

}

.counter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* @media (max-width: 1500px) {
    .abt .subabt {
        gap: 15rem;
    }

    .heading1 h1 {
        font-size: 7rem;

    }

    .heading1 h3 {
        font-size: 3rem;

    }

    .heading2 h3 {
        font-size: 3rem;
        margin-left: 6rem;

    }

    .heading2 h1 {
        font-size: 7rem;
    }

} */


@media (max-width: 1300px) {
    .abt .subabt {
        gap: 9rem;
    }

    .heading1 h1 {
        font-size: 4rem;

    }

    .heading1 h3 {
        font-size: 1.5rem;

    }

    .heading2 h3 {
        font-size: 1.5rem;
        margin-left: 10rem;

    }

    .heading2 h1 {
        font-size: 4rem;
    }

}
@media (max-width: 1200px){
    .abt .subabt {
        gap: 20rem;
    }

    .heading1 h1 {
        font-size: 6rem;

    }

    .heading1 h3 {
        font-size: 2.5rem;

    }

    .heading2 h3 {
        font-size: 2.5rem;
        margin-left: 10rem;

    }

    .heading2 h1 {
        font-size: 6rem;
    }

}

@media (max-width: 930px) {
    .abt .subabt {
        gap: 20rem;
    }

    .heading1 h1 {
        font-size: 5rem;

    }

    .heading1 h3 {
        font-size: 1.8rem;

    }

    .heading2 h3 {
        font-size: 1.8rem;
        margin-left: 3rem;

    }

    .heading2 h1 {
        font-size: 5rem;
    }

    .design {
        width: 20%;
        margin: 3rem 4rem;
        border-left: 10px solid #00083d;
        border-radius: 1rem;
        color: #00083d;



    }

}


@media (max-width: 580px) {

    .abt .subabt {
        gap: 12rem;
    }
    .heading1{
        margin-top: 2rem;
    }

    .heading1 h1 {
        
        margin-left: -10px;

    }

    .heading1 h3 {
        
        margin-left: -10px;

    }

    .heading2 h3 {
        font-size: 1.8rem;
        margin-left: 3rem;

    }

    .heading2 h1 {
        font-size: 5rem;
    }






    .design {
        width: 20%;
        margin: 3rem 4rem;
        border-left: 10px solid #00083d;
        border-radius: 1rem;
        color: #00083d;



    }

}



@media (max-width: 520px) {
    .abt{
        display: flex;
        padding: 1rem 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .abt .subabt {
        gap: 6rem;
    }
    

    .heading1 h1 {
        
        font-size: 4.5rem;
        margin-top: -10rem;
        margin-left: -2rem;
        margin-right: .4rem;

    }

    .heading1 h3 {
        font-size: 1.8rem;
        margin-left: -2rem;
        margin-right: .4rem;

    }

    .heading2 h3 {
        font-size: 1.8rem;
    }

    .heading2 h1 {
        font-size: 4.5rem;
    }
}
@media (max-width: 440px){
    .abt .subabt {
        gap: 8rem;
    }
    

    .heading1 h1 {
        
        font-size: 3rem;
        margin-top: -10rem; 
        /* margin-left: -2rem; */
        /* margin-right: .4rem; */

    }

    .heading1 h3 {
        font-size: 1rem;
        /* margin-left: -2rem; */
        /* margin-right: .4rem; */

    }

    .heading2 h3 {
        font-size: 1rem;
    }

    .heading2 h1 {
        font-size: 3rem;
    }

}